<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <h3>Liste des articles</h3>
    </div>
</div>
<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <a class="waves-effect waves-light btn" onclick="navigate('edit')"><i class="material-icons right">add</i>Ajouter</a>
        <table id="tableAllProducts" class="striped responsive-table" style="display: none;">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="tableBodyAllProducts">
            </tbody>
        </table>
    </div>
</div>
